@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul,
link {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

  @layer utilities {
    .bg-custom-image {
        background-image: url('../app/assets/img/bgImg.png');
        background-size: cover;
        background-position: cover;
        background-repeat: no-repeat;
        overflow-y: hidden;
        margin-top: 0;
        padding: 250px 0 300px 0;
      }

      .bg-gradient-custom {
      background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 74, 189, 0.5) 111.58%);
      }
      .bg-gradient-about {
      background: linear-gradient(90.21deg, rgba(170, 54, 124, 1) -5.91%, rgba(74, 74, 189, 1) 111.58%);
      }

      .bg-register{
        background-image: url('../app/assets/img/banner-bg.png');
        background-size: cover;
          background-position: cover;
          background-repeat: no-repeat;
          overflow-y: hidden;
          margin-top: 0;
          padding: 250px 0 300px 0;
      }
      
    }
        
       